@import 'configs/shared.scss';

.o-callToAction {
    background: $CTA_BACKGROUND;
    color: #fff;

    &__container {
        display: flex;
        justify-content: center;
    }
    &__featuredImageContainer {
        
    }
    &__logo{
        border: 3px solid #fff;
        font-size: 4em;
        padding: 0.3em;
        margin-right: 1em;
    }
    &__featuredDescriptionContainer {
        display: flex;
        flex-direction: column;
    }
    &__title {
        margin: 0;
    }

    &__subtext {
        grid-row: 1;
    }
    &__cta {
        background-color: #a3caef;
        border: none;
        color: #406c96;
        padding: 1em 2em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;

        &:hover {
            cursor: pointer;
        }
    }
}
