@import 'configs/shared.scss';

.o-line {
    //transform: rotate(226deg);

    &__line {
        position: absolute;
        z-index: -1;
        left: -80%;
        border-radius: 5em;
        height: 2.75em;
        width: 75vw;background-image: linear-gradient( to right, $COLOR_DARKBLUE, $PRIMARY);
        transition: all ease .2s;
        transform: translate(0%);
    }
}
