// DO NOT USE THESE VALUES 
$COLOR_PURPLE: #642B73;
$COLOR_CRIMSON: #C6426E;
$COLOR_STEEL: #374d61;

$COLOR_WHITE: #FFFFFF;
$COLOR_FROST: #e9e9e9;

$COLOR_GRAPHITE: #282B2D;
$COLOR_DARKGRAPHITE: #1C1C1E;


//
// HEADER
$HEADER_BACKGROUND_START_COLOR: $COLOR_PURPLE;
$HEADER_BACKGROUND_END_COLOR: $COLOR_CRIMSON;

//
// FOOTER
$FOOTER_BACKGROUND: $COLOR_GRAPHITE;

//
// CTA
$CTA_BACKGROUND: $COLOR_STEEL;

//
// EDUCATION
$EDUCATION_BACKGROUND: $COLOR_DARKGRAPHITE;

//
// ABOUT
$ABOUT_BACKGROUND: $COLOR_FROST;
$ABOUT_BACKGROUND1: $COLOR_WHITE;
$ABOUT_BACKGROUND2: $COLOR_GRAPHITE;
$ABOUT_BACKGROUND3: $COLOR_CRIMSON;