// DO NOT USE THESE VALUES 
$COLOR_PURPLE: #642B73;
$COLOR_CRIMSON: #C6426E;

$COLOR_WHITE: #FFFFFF;

//
// HEADER
$HEADER_BACKGROUND_START_COLOR: $COLOR_PURPLE;
$HEADER_BACKGROUND_END_COLOR: $COLOR_CRIMSON;

