// DO NOT USE THESE VALUES 
$COLOR_PURPLE: #642B73;
$COLOR_CRIMSON: #C6426E;
$COLOR_STEEL: #374d61;

$COLOR_WHITE: #FFFFFF;
$COLOR_FROST: #e9e9e9;

$COLOR_BLUE: #313958;
$COLOR_DARKBLUE: #161b2b;

$COLOR_SUBTLE: #484848;
$COLOR_LIGHTGRAPHITE: #676767;
$COLOR_GRAPHITE: #282B2D;
$COLOR_DARKGRAPHITE: #1C1C1E;

$COLOR_RED: #e94155;

// PALETTE
$PRIMARY: $COLOR_RED;

$PRIMARY1: lighten($COLOR_RED, 10);
$PRIMARY2: darken($COLOR_RED, 10);

//
// HEADER
$HEADER_BACKGROUND_START_COLOR: $COLOR_PURPLE;
$HEADER_BACKGROUND_END_COLOR: $COLOR_CRIMSON;

//
// FOOTER
$FOOTER_BACKGROUND: $COLOR_GRAPHITE;

//
// CTA
$CTA_BACKGROUND: $COLOR_STEEL;

//
// EDUCATION
$EDUCATION_BACKGROUND: $COLOR_DARKGRAPHITE;
$EDUCATION_BACKGROUND2: $COLOR_BLUE;
$EDUCATION_BACKGROUND3: $COLOR_DARKBLUE;

//
// ABOUT
$ABOUT_BACKGROUND: $COLOR_FROST;
$ABOUT_BACKGROUND1: $COLOR_WHITE;
$ABOUT_BACKGROUND2: $COLOR_GRAPHITE;
$ABOUT_BACKGROUND3: $PRIMARY;

//
// WORK
$WORK_JOB_TITLE: darken($COLOR_FROST, 30);

