@import 'configs/shared.scss';

.c-simplework {
    $ACTIVE_HEIGHT: 20em;
    $ACTIVE_WIDTH: 40em;

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;

    z-index: 100;

    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-275%,-50%);
    height: $ACTIVE_HEIGHT;
    width: 100%;
    z-index: 100;
    opacity: .4;
    //will-change: transform, opacity, box-shadow, border-radius;
    transition: all ease .5s;
    border-radius: 10px;
    cursor: pointer;

    @media #{$aboveTablet} {
        transform: none;
        z-index: initial;
        position: relative; 
        top: initial;
        left: initial;
        opacity: 1;
    }

    @media #{$notMobile} {
        height: 25em;
        box-shadow: 0 3px 6px rgba(0,0,0,0.06), 0 3px 6px rgba(0,0,0,0.10) !important;
    }

    &__bgimage {
        object-fit:cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: opacity ease .2s;

        @media #{$notDesktop} {
            height : 100%;
            width: auto;
        }
    }

    &__panel {
        display: none;

        @media #{$notMobile} {
            display: block;
            position: relative;
            padding: 2em 1.5em;
            left: 0;
            min-height: 5em;
            background-color: #fff;
            font-family: 'Muli', sans-serif;
            bottom: -18em;
        }
    }

    &__job {
        display: block;
        font-size: 1.5em;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;

        @media #{$laptop} {
            font-size: 1.25em;
        }
    }

    &__title {
        color: $COLOR_LIGHTGRAPHITE;
        text-transform: capitalize;
    }

    &__accolades {
        position: absolute;
        bottom: 3em;
        right: 1em;
    }

    &__years {
        &:after {
            content: '';
            border: $COLOR_BLUE solid 3px;
            color: $COLOR_WHITE;
            border-radius: 50%;
            width: 1.7em;
            height: 1.7em;
            position: absolute;
            right: -.75em;
            bottom: -0.5em;
        }
    }

    // @States
    &.is-active {
        height: 413px;
        width: 100%;
        top: 0em;
        right: 0em;
        border-radius: 0;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        .c-simplework__bgimage {
            width: 100%;
        }
    }

    &:hover {

        @media #{$notMobile} {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
        }

    }
}
