@import 'configs/shared.scss';

.c-work {
    $ACTIVE_HEIGHT: 420px;
    $ACTIVE_WIDTH: 225px;

    font-family: 'Roboto Condensed', sans-serif;

    z-index: 100;

    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    right: 1em;

    height: calc(#{$ACTIVE_HEIGHT} * .85);
    width: calc(#{$ACTIVE_WIDTH} * .85);
    transform: translate(-45%,-50%);
    z-index: 200;

    transition: all ease .5s;

    &__bg {
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0;
        position: absolute;
        transition: all ease .5s;
    }

    &__bgimage {
        width: auto;
    }

    // // @Pseudo
    &:nth-child(1) {
        height: $ACTIVE_HEIGHT;
        width: $ACTIVE_WIDTH;
        transform: translate(-25%,-50%);
        z-index: 500;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    &:nth-child(2) {
        height: calc(#{$ACTIVE_HEIGHT} * .95);
        width: calc(#{$ACTIVE_WIDTH} * .95);
        transform: translate(-15%,-50%);
        z-index: 400;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    &:nth-child(3) {
        height: calc(#{$ACTIVE_HEIGHT} * .90);
        width: calc(#{$ACTIVE_WIDTH} * .90);
        transform: translate(-32%,-50%);
        z-index: 300;
    }
    &:nth-child(4) {
        height: calc(#{$ACTIVE_HEIGHT} * .75);
        width: calc(#{$ACTIVE_WIDTH} * .75);
        transform: translate(-70%,-50%);
        z-index: 200;
    }
    &:last-child {
        height: $ACTIVE_HEIGHT;
        width: $ACTIVE_WIDTH;
        z-index: 60000;
        transform: translate(100%,-50%);
        display: none;
    }

    // @States
    &.is-active {
        height: 340px;
        width: 100%;
        top: 0em;
        right: 0em;
        transform: translate(0%,-10%) !important;
        border-radius: 0;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        .c-work__bgimage {
            width: 100%;
        }
    }
}
