@import 'configs/shared.scss';

.o-header {
    background-color: $PRIMARY;
    height: 75vh;
    min-height: 35em;
    font-size: 1em;
    color: white;
    overflow: hidden;
    transition: all ease .2s;

    @media #{$mobile} {
        padding: 1em;
        height: 50vh;
    }

    &__mark {
        font-size: 4.5em;
        font-family: 'Roboto Condensed', sans-serif;
        width: 100%;
        line-height: 0.9;
        text-transform: uppercase;
        margin-bottom: 2rem;

        @media #{$notMobile} {
            font-size: 6.5em;
            width: 5em;
            line-height: 0.8;
        }
    }

    &__container {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;

        @media (min-width: 1920px) {
            width: 1400px;
        }

        @media (min-width: 1440px) and (max-width: 1919px) {
            width: 1300px;
        }
    
        @media (min-width: 1024px) and (max-width: 1439px) {
            width: 1000px;
        }
    
        @media #{$laptop} {
            width: 970px;
        }
    
        @media #{$tablet} {
            width: 700px;
        }
    }

    &__aligner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 9999999;

        @media #{$notMobile} {
            display: block;
        }
    }

    &__subtext {
        margin-bottom: 2rem;
        line-height: 1.4;

        @media #{$notMobile} {
            line-height: initial;
            width: 26em;
        }
    }

    &__bgimage {
        display: block;
        position: absolute;
        width: 30em;
        right: 5%;
        top: 0;
    }

    &__cta {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        padding: 1em 2.5em;
        text-transform: uppercase;
        transition: all ease .2s;
        border-radius: 25px;

        &:hover {
            cursor: pointer;
            background-color: $COLOR_WHITE;
            color: $PRIMARY;
        }

        @media #{$mobile} {
            align-self: center;
        }
    }

    &__brand {
        position: absolute;
    }
}