@import 'configs/shared.scss';

.o-header {
    $HERO_HEIGHT: 500px;

    font-family: 'Roboto', sans-serif;

    /* can be treated like a fallback */
    background-color: $HEADER_BACKGROUND_START_COLOR;

    /* will be "on top", if browser supports it */
    background-image: linear-gradient( to right, $HEADER_BACKGROUND_START_COLOR, $HEADER_BACKGROUND_END_COLOR);

    /* these will reset other properties, like background-position, but it does know what you mean */
    background: red;
    background-image: linear-gradient( to right, $HEADER_BACKGROUND_START_COLOR, $HEADER_BACKGROUND_END_COLOR);

    color: $COLOR_WHITE;
    font-size: 1rem;

    height: $HERO_HEIGHT;
    position: relative;

    // NEW
    background: linear-gradient(to bottom right, $HEADER_BACKGROUND_END_COLOR 0%, $HEADER_BACKGROUND_START_COLOR 100%) 100% no-repeat;

    &__container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 6em;
    }
    &__brand {
        font-size: 10em;
        font-weight: bold;
        text-align: center;
        position: relative;
        z-index: 100;
    }
    &__shadow {
        font-size: 10em;
        font-weight: bold;
        text-align: center;
        text-shadow: 20px 20px #000;
        color: transparent;
        text-shadow: 0 0 .3em rgba(0,0,0,0.6);
        position: absolute;
        bottom: -0.1em;
        transform: translate(0.1em) rotateX(-43deg) rotateZ(6deg);
    }
    &__subtext {
        font-size: 2.2em;
        text-align: center;
    }
    &__foreground {
        background-image: linear-gradient(#94364d, #bd3f6e);
        height: 10em;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}
