@import 'configs/shared.scss';
.c-about {
    $IMAGE_SIZE: 20em;
    font-size: 1rem;

    &__container {
        position: relative;
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            "te te te . ."
            "tr tr tr tr tr"
            "dn dn dn dn dn";
        padding-top:1em;
    }
    &__card {

    }
    &__title {
        font-size: 4.5em;
        font-family: 'Roboto', sans-serif;
        grid-area: te;
        background-color: $ABOUT_BACKGROUND;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    &__clear {
        grid-area: cr;
        background-color: transparent;
    }
    &__teaser {
        grid-area: tr;
        background-color: $ABOUT_BACKGROUND;
        padding: 1em;
    }
    &__description {
        grid-area: dn;
        background-color: $ABOUT_BACKGROUND;
        padding: 1em;
    }
    &__featuredImage {
        top: 0;
        z-index: -1;
        position: absolute;
        width: 100%;
        height: auto;
    }
    &__image {
        transition: all ease .5s;
        width: $IMAGE_SIZE;
        height: $IMAGE_SIZE;
        border-radius: 50% 0 50% 0;
        object-fit: cover;
        position: absolute;
        right: 0em;
        top: 0em;
    }
}