@import 'configs/shared.scss';

// Footer
.o-footer {
    color: #fff;
    background-color: $FOOTER_BACKGROUND;

    &__icon {
        width: 2em;
    }
    &__items {
        list-style: none;
    }
    &__socials {
        display: flex;
        padding-left: 0;
        margin: 0;
    }
}
