@import 'configs/shared.scss';

.c-portfolio {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;

    &__container {
        position: relative;
        height: 360px;
    }
    &__dot {
        color: $PRIMARY;
    }
    &__header {
        margin: 1em 1em 2em;
    }
    &__title {
        font-size: 3em;
    }

}
