@import 'configs/shared.scss';

.c-portfolioDesktop {

    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    position: relative;
    height: 52em;
    display: none;

    &__info {
        padding-top: 7em;
    }

    &__icon {
        top: 0.15em;
        width: .75em;
        position: relative;
        right: -0.4em;
        fill: $PRIMARY;
    }

    &__fullWidthContainer {
        width: 100%;
        margin: 0 auto 0;

        @media (min-width: 1920px) {
            width: 1400px;
        }

        @media (min-width: 1440px) and (max-width: 1919px) {
            width: 1300px;
        }
    
        @media (min-width: 1024px) and (max-width: 1439px) {
            width: 1000px;
        }
    
        @media #{$laptop} {
            width: 970px;
        }
    
        @media #{$tablet} {
            width: 700px;
        }
    }

    
    &__container {
        height: 28em;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background: linear-gradient(to bottom left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%,rgba(255,255,255,1) 90%);

        

        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%);
    }

    &__header {
        font-size: 3.5em;
        text-transform: uppercase;
        color: $COLOR_DARKGRAPHITE;
    }
    &__subheader {
        font-size: 2em;
        color: $COLOR_GRAPHITE;
        margin-bottom: .75em;
        text-transform: uppercase;
        width: 30rem;
    }
    &__description {
        font-family: 'Muli', sans-serif;
        font-size: 1.25em;
        line-height: 1.5;
        color: $COLOR_LIGHTGRAPHITE;
        margin-bottom: 2em;
        width: 30rem;
    }

    &__bgContainer {
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__fade {
        width: 100%;
        height: 100%;
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255, .1) 70%);
    }


    &__works {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 2em;

        @media #{$laptop} {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__workContainer {
        width: 100%;
        margin-bottom: 4em;
    }

    &__learnMore {
        color: $PRIMARY;
        text-decoration: none;
    }

    &__dot {
        color: $PRIMARY;
    }

    @media #{$aboveTablet} {
        display: block;
    }
}
