@import 'configs/shared.scss';

.c-portfolio {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    min-height: 39em;
    position: relative;
    overflow: hidden;
    padding: 4em 1em;

    &__container {
        position: relative;
        height: 28em;
    }
    &__content {
        padding: 1em;
    }
    &__dot {
        color: $PRIMARY;
    }
    &__header {
        padding: 3 em 1em 2em;
    }
    &__title {
        font-size: 3em;
        margin: 0;
    }
    &__description {
        position: absolute;
        z-index: 0;
        width: 100%;
        left: 0;
    }
    &__pullup {
        position: absolute;
        width: 100%;
        height: 0;
        bottom: 0;
        transition: all ease .5s;
    }
    &__jobTitle {
        position: relative;
        bottom: 0;
        transition: all ease .2s;
        text-transform: capitalize;
        color: $WORK_JOB_TITLE;
        font-family: 'Muli', sans-serif;
    }
    &__work {
        font-size: 1.5em;
        text-transform: uppercase;
    }
    &__profession {
        background-color: $COLOR_WHITE;
        display: inline-block;
        padding: 1em;
    }
    &__summary {
        font-family: 'Muli', sans-serif;
        background-color: $COLOR_WHITE;
    }
    &__summary > p {
        margin: 0;
        padding: 1em;
    }
    &__link {
        color: $PRIMARY;
        text-decoration: none;
        margin: 0;
        padding: 1em;
    }

}

.c-portfolio--active {

    .c-portfolio {

        &__description {
            z-index: 2000;
        }

        &__pullup {
            position: absolute;
            height: 11em;
            bottom: 0;
        }
    }

    .c-work:not(:nth-child) {
        opacity: 0;
    }

    .c-work:nth-child(3) {
        width: 100vw;
        border-radius: 0;
    }
}

.c-portfolio--moveRight {

    .c-work {
        &:nth-child(1) {
            z-index: 300;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            transform: translate(285%,-50%);
        }
        &:nth-child(2) {
            z-index: 400;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            transform: translate(175%,-50%);
        }
        &:nth-child(3) {
            z-index: 500;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            transform: translate(65%,-50%);
            opacity: 1;
        }
        &:nth-child(4) {
            z-index: 400;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            transform: translate(-50%,-50%);
        }
        &:nth-child(5) {
            z-index: 300;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            transform: translate(-165%,-50%);
        }
    }

}

.c-portfolio--moveLeft {

    .c-work {
        &:nth-child(1) {
            z-index: 300;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            transform: translate(55%,-50%);
        }
        &:nth-child(2) {
            z-index: 400;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            transform: translate(-55%,-50%);
        }
        &:nth-child(3) {
            z-index: 500;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            transform: translate(-165%,-50%);
            opacity: 1;
        }
        &:nth-child(4) {
            z-index: 400;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            transform: translate(-275%,-50%);
        }
        &:nth-child(5) {
            z-index: 300;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            transform: translate(-375%,-50%);
        }
    }

}

.c-portfolio__description--z {

    &.c-portfolio {

        &__description {
            z-index: 2000;
        }

    }
}
